.intro-graphic {
    background-color: rgb(8, 18, 27);
    height: 100vh;
    display: inline-block
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom, rgb(8, 18, 27), rgb(0, 94, 177));
}

.make {
    padding-top: 30vh;
    font-size: 1000%;
    color: #fff;
    padding-left: 5vw;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    padding-bottom: 0;
}

.art {
    padding-top: 0;
    margin-top: 0;
    font-family: "Martian Mono", monospace;
    display: none;
    color: white;
    font-size: 2000%;
    font-weight: bolder;
    text-align: right;
    padding-right: 5%;
    white-space: pre;
    
}

.navbar {
    background-color: rgb(34, 34, 34);
    overflow: hidden;
    display: none;
    padding-left: 7%;
}

.navbar a {
    padding: 2%;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    background-color: aliceblue;
    color: black;
}

.navbar a.active {
    background-color: rgb(15, 15, 15);
    color: white;
}

.rainbow{
    animation: artAnimation 1.5s ease-out 0s 1 forwards;
}

.scroll {
    animation: scrollAnimation 1.5s ease-out 0s 1 forwards;
}

.shrink {
    animation: shrinkAnimation 1.5s ease-in-out 0s 1 forwards;
}

.main {
    display: none;
}

.show {
    display: inline-block;
}

.rowobj {
    display: flex;
}

p {
    font-size: 36px;
    padding: 3%;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.one {
    justify-content: center;
}

.two {
    background-color: rgb(117, 70, 107);
}

.three p{
    text-align: center;
}

.three {
    justify-content: center;
}

img {
    size: 12%;
}

@keyframes artAnimation {
    from{
        filter: hue-rotate(0);
        text-shadow: 
        -1px 0 2px red,
        -2px 0 2px orange,
        -3px 0 2px yellow,
        -4px 0 2px yellowgreen,
        -5px 0 2px green,
        -6px 0 2px blue,
        -7px 0 2px indigo,
        -8px 0 2px violet;
    }
    to{
        filter: hue-rotate(360deg);
        text-shadow: 
        -50px -10px 1px red,
        -100px -20px 3px orange,
        -150px -30px 3px yellow,
        -200px -40px 4px rgb(0, 255, 13),
        -250px -50px 5px rgb(0, 255, 234),
        -300px -60px 6px blue,
        -350px -70px 7px rgb(149, 0, 255),
        -400px -80px 8px violet;
    }
    
}

@keyframes scrollAnimation {
    from {
        padding-top: 30vh;
    }
    to {
        padding-top: 5vh;
    }
}

@keyframes shrinkAnimation {
    from {
        height: 100vh;
    }
    to {
        height: 700px;
    }
}